Repository DataDog/opentelemetry-mapping-go, pull requests merged in 2023-06, with the labels that each got.

#89 Add pkg/otlp/logs for OTLP to DD log translation
  .chloggen/otel-529-copy-otlp-translator-code.yaml
  pkg/otlp/logs/doc.go
  pkg/otlp/logs/go.mod
  pkg/otlp/logs/go.sum
  pkg/otlp/logs/logs_translator.go
  pkg/otlp/logs/logs_translator_test.go
Labels: breaking-change

#90 Prepare for release v0.2.4
  .chloggen/otel-529-copy-otlp-translator-code.yaml
  CHANGELOG.md
  pkg/otlp/logs/go.mod
  pkg/otlp/metrics/go.mod
  pkg/quantile/go.mod
  versions.yaml
Labels: Skip Changelog

#91 [pkg/otlp/metrics] Refactor MapMetrics return struct
  .chloggen/stanley.liu_refactor-runtime-metrics-telemetry.yaml
  pkg/otlp/metrics/metrics_translator.go
  pkg/otlp/metrics/metrics_translator_test.go
Labels: breaking-change

#92 Prepare for release v0.3.0
  .chloggen/stanley.liu_refactor-runtime-metrics-telemetry.yaml
  CHANGELOG.md
  pkg/otlp/logs/go.mod
  pkg/otlp/metrics/go.mod
  pkg/quantile/go.mod
  versions.yaml
Labels: Skip Changelog

#103 [otlp] update protobuf definitions to new location/version in datadog-agent repo
  .chloggen/jaime_protorefactor.yaml
  LICENSE-3rdparty.csv
  pkg/otlp/metrics/consumer.go
  pkg/otlp/metrics/go.mod
  pkg/otlp/metrics/go.sum
  pkg/otlp/metrics/metrics_translator_test.go
  pkg/otlp/metrics/sketches_test.go
  pkg/otlp/metrics/statspayload.go
  pkg/otlp/metrics/statspayload_test.go
  pkg/otlp/metrics/testhelper_test.go
Labels: breaking-change

#106 prerelease pkgs v0.4.0
  .chloggen/gbbr_remap-metrics.yaml
  .chloggen/jaime_protorefactor.yaml
  CHANGELOG.md
  pkg/otlp/logs/go.mod
  pkg/otlp/metrics/go.mod
  pkg/quantile/go.mod
  versions.yaml
Labels: Skip Changelog

#107 Retract v0.4.0
  CHANGELOG.md
  LICENSE-3rdparty.csv
  internal/tools/go.mod
  pkg/internal/sketchtest/go.mod
  pkg/otlp/attributes/go.mod
  pkg/otlp/logs/go.mod
  pkg/otlp/metrics/consumer.go
  pkg/otlp/metrics/go.mod
  pkg/otlp/metrics/go.sum
  pkg/otlp/metrics/metrics_translator_test.go
  pkg/otlp/metrics/sketches_test.go
  pkg/otlp/metrics/statspayload.go
  pkg/otlp/metrics/statspayload_test.go
  pkg/otlp/metrics/testhelper_test.go
  pkg/quantile/go.mod
Labels: breaking-change, Skip Changelog

#108 Prerelease pkgs v0.5.0
  CHANGELOG.md
  pkg/otlp/logs/go.mod
  pkg/otlp/metrics/go.mod
  pkg/quantile/go.mod
  versions.yaml
Labels: Skip Changelog

#105 [pkg/inframetadata] Create module and define payloads
  .chloggen/mx-psi_payloads.yaml
  internal/tools/generate-license-file/main.go
  pkg/inframetadata/go.mod
  pkg/inframetadata/gohai/gohai.go
  pkg/inframetadata/gohai/processes.go
  pkg/inframetadata/payload/payload.go
  versions.yaml
Labels: breaking-change

#109 [pkg/otlp/metrics] Add WithInitialValueMode to metrics translator
  .chloggen/mx-psi_counter-mode.yaml
  pkg/otlp/metrics/config.go
  pkg/otlp/metrics/metrics_translator.go
  pkg/otlp/metrics/mixed_metrics_test.go
  pkg/otlp/metrics/testdata/datadogdata/mixed/simple_drop.json
  pkg/otlp/metrics/testdata/datadogdata/mixed/simple_keep.json
Labels: breaking-change

#110 Prepare v0.5.1 release
  .chloggen/mx-psi_counter-mode.yaml
  .chloggen/mx-psi_payloads.yaml
  CHANGELOG.md
  pkg/otlp/logs/go.mod
  pkg/otlp/metrics/go.mod
  pkg/quantile/go.mod
  versions.yaml
Labels: Skip Changelog

#88 [pkg/inframetadata] Create new inframetadata module
  .chloggen/mx-psi_inframetadata.yaml
  LICENSE-3rdparty.csv
  pkg/inframetadata/doc.go
  pkg/inframetadata/go.mod
  pkg/inframetadata/go.sum
  pkg/inframetadata/gohai/gohai.go
  pkg/inframetadata/internal/hostmap/constants.go
  pkg/inframetadata/internal/hostmap/hostmap.go
  pkg/inframetadata/internal/hostmap/hostmap_test.go
  pkg/inframetadata/internal/testutils/resource.go
  pkg/inframetadata/reporter.go
  pkg/inframetadata/reporter_test.go
Labels: breaking-change
